@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
.principal-body {
    background: url('../images/wallpaper_0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: helvetica, arial, sans-serif;
    line-height: 20px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 2.4em;
    color: #2c3e50;
    text-align: center;
}

.letterDrop {
    position: relative;
    top: 0.60em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    opacity: 0.8;
    transform: rotateX(-90deg);
    animation: letterDrop 1.2s ease 1 normal forwards;
    margin-top: -160px !important;
}

@keyframes letterDrop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        top: 3.75em;
        transform: rotateX(-360deg);
    }
    100% {
        opacity: 1;
        top: 4.50em;
        transform: rotateX(360deg);
    }
}

span:nth-child(2n) {
    color: #34495e;
}

span:nth-child(-n+4) {
    color: #c0392b;
    font-weight: 800;
    letter-spacing: 0.25em;
}

article {
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 10px 0;
    color: white;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
}

article h1,
article h2,
article h3,
article h4,
article h5,
article p,
article hr {
    font-family: 'Open Sans', sans-serif !important;
    color: white;
    margin-bottom: 20px;
}

.body-container {
    margin-top: 1px;
}

.top-container {
    height: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .top-container {
        height: auto;
        width: 95%;
    }
    .body-container {
        position: absolute;
        margin-top: 10px;
        padding-left: 2% !important;
        padding-right: 2% !important;
        margin-top: -10px !important;
    }
}

.body-board{
    background:url('../images/board2.png'); 
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed; 
	font-family:helvetica, arial, sans-serif;
	line-height:20px;
}
.text-center{
  text-align: center;
}
.hidden {
    display: none;
}

.menu {
    background: rgba(51, 51, 51, .8);
    position: absolute;
    margin-top: 10px;
    padding-left: 2% !important;
    padding-right: 2% !important;
    margin-left: 60px !important;
    margin-right: 100px !important;
    margin-top: 260px !important;
    width: 1000px;
    color: white;
    padding-bottom: 30px;
}
.sketchMenu {
    position: relative;
    margin-top: 40px !important;
    width: 1200px;
    color: white;
    padding-bottom: 30px;
}
.logo {
    background-color: white;
    width: 200px;
    height: 200px;
}
.product {
    width: 300px;
    height: auto;
}
.caption {
    font-size: 20px;
}
#firstModal{
    z-index: 6000 !important;
}
/*fingerprint reader*/
.modalContent {
   /* position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 80%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#divCheck {
    width: 180px;
    height: 180px;
    border: 1px solid black;
}
.modalFinger{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200 !important; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   /* background-color: rgb(0,0,0); /* Fallback color 
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

#firstModal {
    z-index: 3000 !important;
}
#secondModal {
    z-index: 4000 !important;
}